@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 500; 
    background-color: #caf0f8;
    color: #333;
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}
