@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #caf0f8;
    color: #333;
}
html {
    font-family: Lato, sans-serif;
    font-weight: 500; 
}
ul{
    list-style: none;
}
nav {
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 2rem;
    font-weight: 600;
}
