/* Reset de estilos para garantir uma base consistente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilos para o cabeçalho (header) */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilos para a navegação */
nav {
    text-align: center;
    background-color: #555;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

/* Estilos para a seção principal */
section {
    padding: 20px;
}

/* Estilos para os projetos */
.project {
    margin-bottom: 20px;
}

.project h3 {
    color: #333;
}

.project p {
    color: #666;
}

/* Estilos para o rodapé (footer) */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos para links no rodapé */
footer a {
    color: #fff;
    text-decoration: none;
}

